/* Import the Google Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.offset {
  padding: 0.5rem;
}

/*spacing for the navbar */
.offset::before {
  display: block;
  content: "";
  height: 3.7rem;
}

/*** Navigation ***/
.navbar {
  font-weight: 700; /* bold */
  letter-spacing: .1rem;
}

.navbar-nav {
  padding-right: .7rem;
}

/*** Landing page ***/
.landing {
  /* The image used */
  background-image: url("../img/landingPage.png");
  /* Set a specific height */
  min-height: 100vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

.heading {
  position: absolute;
  top: 38%;
  width: 100%;
  color: white;
}

.landing h1 {
  color: white;
  font-size: 3.8rem;
  font-weight: 700rem;
  letter-spacing: .3rem;
  padding-bottom: 1rem;
}

.icon {
  height: 6rem;
}

.btn-lg {
  border-width: medium;
  padding: .6rem 1.3rem;
  font-size: 1.1rem;
}

/* Button animation */
.fill {
  animation-name: fill;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes fill {
  from {
    background-color: rgba(255, 255, 255, 0);
    color: white;
  }
  to {
    background-color: rgba(255, 255, 255, 1);
    color: black;
  }
}

/*** About section ***/
.img-thumbnail {
  width: 300px;
  border-radius: 150px;
}

.underline {
  width: 3rem;
  height: .2rem;
  background-color: rgb(255, 184, 96);
  margin: 0 auto 2rem;
}

/*** Projects section ***/
.fixed-background  {
  /* The image used */
  background-image: url("../img/sb-blog-programming.jpg");
  /* Set a specific height */
  min-height: 100vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Text color */
  color: white;
}

.card {
  color: black;
}

a,
a:hover {
  color: #212529;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /*overflow: auto; /* Enable scroll if needed */
  /*background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*** Contact section ***/
#contact {
  padding: 1rem;
}

/*** Footer section ***/
footer {
  background-color: rgb(1, 107, 155);
  color: white;
  padding-top: 1rem;
  padding-bottom: .5rem;
}
